.fabBox {
  position: fixed;
  -webkit-user-select: none;
  user-select: none;
  z-index: 100;
  :global {
    .ring {
      position: absolute;
      width: 70px;
      height: 70px;
      border: 10px solid lightsteelblue;
      border-radius: 50%;
      top: 0;
      box-sizing: border-box;
    }
  }
  &:hover {
    .fab {
      box-shadow: rgba(173, 216, 230, 0.472) 1px 0 6px 5px;
    }
  }
  &:active {
    .fab {
      box-shadow: lightblue -1px 0 3px 1px;
    }
  }
}

.fab {
  width: 70px;
  height: 70px;
  display: flex;
  flex-wrap: wrap;
  border-radius: 50%;
  gap: 10px;
  column-gap: 10px;
  overflow: hidden;
  background-color: rgba(176, 196, 222, 0.2);
  box-shadow: lightsteelblue 1px 0 4px 2px;
  :global {
    .block {
      width: calc((100% - 10px) / 2);
      height: calc((100% - 10px) / 2);
      background-color: lightsteelblue;
      z-index: 2;
    }
  }
}
.defaultPostion {
  right: 15px;
  bottom: 15px;
}
