.siderBox {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  flex-shrink: 0;
}
.dragBar {
  display: flex;
  justify-content: right;
  position: absolute;
  height: 100%;
  right: 0;
  box-sizing: border-box;
  width: 10px;
  cursor: w-resize;
  z-index: 100;
  .dragLine {
    opacity: 0;
    width: 4px;
    background-color: pink;
    height: 100%;
    transition: all 0.3s ease-in-out;
  }
  &:hover {
    .dragLine {
      opacity: 1;
    }
  }
}
.leftDragBar {
  display: flex;
  justify-content: left;
  height: 100%;
  right: 0;
  box-sizing: border-box;
  width: 6px;
  cursor: w-resize;
  z-index: 100;
  .dragLine {
    opacity: 0;
    width: 4px;
    background-color: pink;
    height: 100%;
    transition: all 0.3s ease-in-out;
  }
  &:hover {
    .dragLine {
      opacity: 1;
    }
  }
}
.moving {
  opacity: 1 !important;
  cursor: w-resize;
}

.hidden {
  display: none;
}
