.list {
  display: flex;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  flex: auto;
  background-color: rgba(135, 206, 250, 0.3);
}

.list a {
  box-sizing: border-box;
  flex: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.active-link {
  border-top: 4px lightskyblue solid !important;
}
.add-link {
}
.normal-link {
}

.active-add-link .ring {
  box-shadow: lightskyblue 1px 0 6px 5px;
}
