.list {
  height: 50px;
  display: flex;
  box-sizing: border-box;
  width: 100%;
  background-color: var(--border-color);
}

.list a {
  font-weight: bold;
  box-sizing: border-box;
  flex: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  text-decoration: none;
  color: lightslategray;
}

.active-link {
  color: initial !important;
  border-top: 4px var(--bar-color) solid !important;
  background: linear-gradient(
    180deg,
    var(--bar-color) -106%,
    rgba(135, 206, 250, 0) 67%
  );
}
.add-link {
}
.normal-link {
}

.active-add-link .ring {
  box-shadow: var(--bar-color) 1px 0 6px 5px;
}
