.addition {
  display: flex;
  flex-direction: column;
  gap: 65px;

  justify-content: start;
  align-items: center;
  flex: auto;
  position: relative;
  :global {
    .usetype-box {
      width: 100% !important;
      display: flex;
      column-gap: 10px;
      input[type='text'] {
        height: 24px;
        width: 66%;
        border: solid lightblue 1px;
      }
    }
    fieldset {
      margin: 0 !important;
      gap: 10px;
      display: flex;
      flex-direction: column;
    }
    textarea {
      min-width: 300px;
    }

    textarea,
    select,
    fieldset,
    input[type='number'],
    input[type='text'] {
      flex-shrink: 0;
      box-sizing: border-box;
      width: 300px;
      max-width: 300px;
      min-height: 32px;
      border: solid lightblue 1px;
      border-radius: 4px;
    }

    form {
      width: 100%;
      flex-direction: column;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex: auto;
      box-sizing: border-box;
    }
    .editable-rows {
      display: flex;
      flex-direction: column;
      overflow: auto;
      gap: 20px;
      padding: 16px;
      box-sizing: border-box;
    }
    .row {
      width: 100%;
      div {
        width: 30%;
      }
      display: flex;
      gap: 15px;
      //   justify-content: space-between;
    }

    .footer {
      bottom: 0;
      position: sticky;
      justify-content: center;
      gap: 0;
      height: 30px;
      button {
        border: 0;
        width: 50%;
        background-color: lightskyblue;
        &[type='button'] {
          background-color: var(--border-color);
        }
      }
    }
  }
}
